$category-item-color: #2980b9;
$pager-anchor-color: #2980b9;

.not-active {
   pointer-events: none;
   cursor: default;
   color: gray !important;
}

h2 {
  margin-bottom: 8px;
}

.title-break {
  margin-bottom: 16px;
}

@import
  "pager",
  "pagination-buttons",
  "categories-list",
  "post-link",
  "page-title"
;
